In [1]:
import pandas as pd
import numpy as np
from datetime import date, datetime

pd.set_option('display.max_columns', None)

In [2]:
df_initial = pd.read_csv('./data.csv',encoding="ISO-8859-1",
                         dtype={'CustomerID': str,'InvoiceID': str, 'StockCode': str})

df_initial["InvoiceDate"] = pd.to_datetime(df_initial["InvoiceDate"])

print(df_initial.shape)

df_initial.drop_duplicates(inplace = True)

print(df_initial.shape)

df_initial = df_initial[~df_initial["StockCode"].isin(["B", "D"])]

print(df_initial.shape)

(541909, 8)
(536641, 8)
(536561, 8)

In [3]:
# Prep YearMonth
df_initial["YearMonth"] = df_initial["InvoiceDate"].apply(lambda x: x.year*100 + x.month)

In [4]:
df_initial.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,YearMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,201012
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,201012
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,201012
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,201012
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,201012

In [5]:
# drop latest month
df = df_initial.loc[df_initial["YearMonth"] < 201112]

df.shape

(511316, 9)

In [6]:
list_month = df["YearMonth"].unique().tolist()

print(list_month)

[201012, 201101, 201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109, 201110, 201111]

In [7]:
df_agg_qty = df.groupby(['StockCode', "YearMonth"], as_index=False)["Quantity"].sum()

df_agg_qty.head(10)

  StockCode  YearMonth  Quantity
0     10002     201012       251
1     10002     201101       340
2     10002     201102        52
3     10002     201103       208
4     10002     201104       186
5     10080     201102         2
6     10080     201106        60
7     10080     201107       194
8     10080     201108        60
9     10080     201109        60

In [8]:
list_training_months = [201012, 201101, 201102, 201103, 201104, 201105]
test_month = 201106

In [9]:
df_agg_qty_forecast = df_agg_qty.loc[df_agg_qty["YearMonth"].isin(list_training_months)]

df_agg_qty_test = df_agg_qty.loc[df_agg_qty["YearMonth"] == test_month]

In [10]:
df_agg_qty_forecast = (df_agg_qty_forecast.groupby(["StockCode"], as_index=False)
                      .agg(
                          ForecastQTY=("Quantity", "mean")
                      ))

df_agg_qty_test = (df_agg_qty_test.groupby(["StockCode"], as_index=False)
                   .agg(
                       ActualQTY=("Quantity", "sum")
                   )
                  )

In [11]:
df_forecast_eval = df_agg_qty_forecast.merge(df_agg_qty_test,
                                            on="StockCode",
                                            how="outer")

df_forecast_eval.fillna(0, inplace=True)

In [12]:
df_forecast_eval.head()

  StockCode  ForecastQTY  ActualQTY
0     10002       207.40        0.0
1     10080         2.00       60.0
2     10120        19.25        0.0
3    10123C         2.50        0.0
4    10123G       -38.00        0.0

In [13]:
def wmape(actual, forecast):
    
    # make a series called mape
    se_mape = abs(actual-forecast)/actual

    # get a float of the sum of the actual
    ft_actual_sum = actual.sum()

    # get a series of the multiple of the actual & the mape
    se_actual_prod_mape = actual * se_mape

    # summate the prod of the actual and the mape
    ft_actual_prod_mape_sum = se_actual_prod_mape.sum()

    # float: wmape of forecast
    ft_wmape_forecast = ft_actual_prod_mape_sum / ft_actual_sum

    # return a float
    return ft_wmape_forecast

In [14]:
# baseline evaluation
error = wmape(df_forecast_eval["ActualQTY"], df_forecast_eval["ForecastQTY"])

In [15]:
accuracy = 1 - error

print(accuracy * 100)

17.061211504572682